<ion-header>
  <ion-navbar>
    <ion-title>
      提问
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="question != null">
    <button ion-item no-lines (click)="showPrompt()">
      <ion-icon name='ios-search-outline' item-start style="color: #d03e84"></ion-icon>
      关键词
      <ion-note item-end>
        {{ question.keywords }}
      </ion-note>
    </button>
    <ion-item>
      <ion-label color="primary" stacked>问题描述</ion-label>
      <ion-textarea rows="16" [(ngModel)]="question.content"></ion-textarea>
    </ion-item>
    <button ion-item no-lines (click)="select_image()">
      <ion-icon name='md-images' item-start style="color: #d03e84"></ion-icon>
      上传照片或视频
    </button>
    <div>
      <div style="width:30%; float: left;margin-left: 3%" *ngFor="let att of attachments">
        <img src="{{ att }}" alt="{{ att }}">
      </div>
    </div>

    <ion-item>
      <ion-label>设置金额</ion-label>
      <ion-input type="number" value="" [(ngModel)]="question.pay"></ion-input>
      <button ion-button item-end [disabled]="!question.content || !question.keywords" color="primary" (click)="setPay()">
        参考价格
      </button>
    </ion-item>
    <div padding>
      <button [disabled]="!question.content || !question.keywords" ion-button color="primary" block (click)="submit()">
        <span *ngIf="question.id">更新问题</span>
        <span *ngIf="!question.id">发布问题</span>
      </button>
    </div>
  </div>

</ion-content>