page-evaluate {
    h5{
        font-size: 1.2em;
        margin: 0;
        padding: 10px;
    }
    .star{
        padding: 0;
        
        ion-icon{
            font-size: 2em;
        }
    }
}
