<ion-header>
  <ion-navbar>
    <ion-title>消息列表</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      消息列表
    </ion-list-header>
    <button ion-item (click)='go_talk(msg)' *ngFor="let msg of msgs">
      <ion-icon name='bulb' item-start style="color: #470a97" *ngIf="msg.type=='question'"></ion-icon>
      <ion-icon name='book' item-start style="color: #470a97" *ngIf="msg.type=='job'"></ion-icon>
      <span *ngIf="msg.sender">{{ msg.sender.username }} :</span> {{ msg.content }}
      <ion-badge item-end> {{ msgProvider.get_channel_number(msg.type, msg.type_id, msg.sender_id) +
        msgProvider.get_channel_number(msg.type, msg.type_id, msg.receiver_id) }}</ion-badge>
    </button>
  </ion-list>
</ion-content>