<ion-header>
  <ion-navbar>
    <ion-title>
      张三
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content #content>

  <ion-list>


    <ion-item no-lines text-wrap *ngFor="let item of items">
      <div abc></div>

      <ion-avatar item-start *ngIf="item.user_id != user_id">
        <img src="{{ item.user_pic }}">
      </ion-avatar>
      <p item-left *ngIf="item.user_id != user_id">{{ item.msg }}</p>


      <p item-right *ngIf="item.user_id == user_id">{{ item.msg }}</p>
      <ion-avatar item-end *ngIf="item.user_id == user_id">
        <img src="{{ item.user_pic }}">
      </ion-avatar>

    </ion-item>

  </ion-list>

</ion-content>
<ion-footer>
  <ion-toolbar>

    <ion-item>
      <ion-input type="text" value="" [(ngModel)]="msg"></ion-input>
      <button item-end ion-button (click)="pushMessage()">
        <ion-icon name="md-add"></ion-icon>
      </button>
    </ion-item>


    <ion-grid>
      <ion-row>
        <ion-col>
          语音
        </ion-col>
        <ion-col>
          视频
        </ion-col>
        <ion-col (click)="goCreateOrder()">
          生成订单
        </ion-col>
        <ion-col>
          查看订单
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          照片
        </ion-col>
        <ion-col>
          位置
        </ion-col>
        <ion-col>
          文件
        </ion-col>
        <ion-col>
          红包
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>