<ion-header>
  <ion-navbar>
    <ion-title>
      教员推荐
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <button ion-button block clear (click)='sort_by_score()'>评分
          <span *ngIf="order_by == 'score' && order_direction == 1">∨</span>
          <span *ngIf="order_by == 'score' && order_direction == -1">∧</span>
        </button>
      </ion-col>
      <ion-col col-6>
        <button ion-button block clear (click)='sort_by_price()'>价格
          <span *ngIf="order_by == 'price' && order_direction == 1">∨</span>
          <span *ngIf="order_by == 'price' && order_direction == -1">∧</span>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)='showTeacher(item)'>
      <ion-avatar item-start>
        <img src="assets/imgs/user2.jpg">
      </ion-avatar>
      <h2>{{ item.subject }} - {{ item.method }}</h2>
      <h3>{{ item.time }}</h3>
      <p>{{ item.region }} - {{ item.highest_education }} - {{ item.pay }} - {{ item.school }}</p>
    </button>
  </ion-list>

</ion-content>