<ion-header>
    <ion-navbar no-border-bottom>
        <ion-title>
            {{ title }}
        </ion-title>
    </ion-navbar>

    <ion-toolbar no-border-top>
        <ion-segment [(ngModel)]="status">
            <ion-segment-button value="all">
                全部
            </ion-segment-button>
            <ion-segment-button value="need_confirm">
                {{ item_title2 }}
            </ion-segment-button>
            <ion-segment-button value="doing">
                已完成
            </ion-segment-button>
            <ion-segment-button value="done">
                失败
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div [ngSwitch]="status">
        <ion-list *ngSwitchCase="'all'">
            <button ion-item *ngFor="let item of items" (click)="go_detail(item)">
                {{ item.title }}
            </button>
        </ion-list>
        <ion-list *ngSwitchCase="'need_confirm'">
            <ion-item *ngFor="let item of item_filter('create')">
                {{ item.title }}
            </ion-item>
        </ion-list>
        <ion-list *ngSwitchCase="'doing'">
            <ion-item *ngFor="let item of item_filter('payed')">
                {{ item.title }}
            </ion-item>
        </ion-list>
        <ion-list *ngSwitchCase="'done'">
            <ion-item *ngFor="let item of item_filter('rejected')">
                {{ item.title }}
            </ion-item>
        </ion-list>
    </div>
</ion-content>